@model IEnumerable<FunitureManager.Models.Order>

@{ ViewBag.Title = "Index"; }

<div style="margin-left:2%;">
    <h2 style="margin-bottom:20px;">Order List</h2>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th>
                @Html.ActionLink("State", "Index", new { sortOrder = ViewBag.StatSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.User.User_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @using (Html.BeginForm())
        {
@Html.AntiForgeryToken() if (item.State == "Pending")
{

<button class="btn btn-success btn-update-status" data-id="@item.Id">@Html.ActionLink("Pending", "Index", new { id = item.Id, status = "Pending" })</button>
                        <button class="btn btn-danger btn-cancel" data-id="@item.Id">@Html.ActionLink("Delivering", "Index", new { id = item.Id, status = "Delivering" })</button>
                                                <button class="btn btn-danger btn-cancel" data-id="@item.Id">@Html.ActionLink("Completed", "Index", new { id = item.Id, status = "Completed" })</button> }
                                            else if (item.State == "Delivering")
                                            {
                        <button class="btn btn-danger btn-cancel" data-id="@item.Id">@Html.ActionLink("Pending", "Index", new { id = item.Id, status = "Pending" })</button>
                                                <button class="btn btn-success btn-update-status" data-id="@item.Id">@Html.ActionLink("Delivering", "Index", new { id = item.Id, status = "Delivering" })</button>
                                                                        <button class="btn btn-danger btn-cancel" data-id="@item.Id">@Html.ActionLink("Completed", "Index", new { id = item.Id, status = "Completed" })</button> }
                                                                    else if (item.State == "Completed")
                                                                    {
                                                <button class="btn btn-danger btn-cancel" data-id="@item.Id">@Html.ActionLink("Pending", "Index", new { id = item.Id, status = "Pending" })</button>
                                                                        <button class="btn btn-danger btn-cancel" data-id="@item.Id">@Html.ActionLink("Delivering", "Index", new { id = item.Id, status = "Delivering" })</button>
                                                                                                <button class="btn btn-success btn-update-status" type="submit" data-id="@item.Id">@Html.ActionLink("Completed", "Index", new { id = item.Id, status = "Completed" })</button> }
                                                                                            else
                                                                                            {
                                                                        <button class="btn btn-danger btn-cancel" data-id="@item.Id">@Html.ActionLink("Pending", "Index", new { id = item.Id, status = "Pending" })</button>
                                                                                                <button class="btn btn-danger btn-cancel" data-id="@item.Id">@Html.ActionLink("Delivering", "Index", new { id = item.Id, status = "Delivering" })</button>
                                                                                                                        <button class="btn btn-danger btn-cancel" data-id="@item.Id">@Html.ActionLink("Completed", "Index", new { id = item.Id, status = "Completed" })</button>}
                                                                                                                }
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id })
    </td>
    <td>
        @using (Html.BeginForm())
        {
@Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="form-actions no-color">
                            <input type="submit" value="Change Status" class="btn btn-default" />
                        </div>
                    </div>}


    </td>
    <td>
    </td>
</tr>
}

    </table>
</div>
