@model IEnumerable<FunitureManager.Models.Category>

@{
    ViewBag.Title = "Deleted";
}

<div style="margin: 0.5% 2%;">
    <h2>Category List</h2>
    <div style="display:flex;">
        <p>
            <button style="background-color: #0A2558; border-radius: 5px; padding: 5px; border-right-width: 1px; border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px;">
                @Html.ActionLink("Create New", "Create", null, new { style = "color: white" })
            </button>
        </p>
        @using (Html.BeginForm())
        {
<p>
    <input id="SearchString" name="SearchString" type="text" value="" placeholder="Search your product" style="
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    margin-left: 10px;
">
    <input type="submit" value="Search" style="
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
">
</p>
                <p>
                    @Html.ActionLink("View Category", "Index")
                </p>}
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Category Name", "Deleted", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category_Name)
                </td>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.Picture);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgsrc" style="max-width:100px;max-height:100px" />

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Restore", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>